.log{
    background-image: url(/RoyalEnfield/img/february-1366X768\ \(1\).jpg);
}
#head{
    font-size: xx-large;
    color: beige;
}

#div{
    font-size: xx-large;
    color:black;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 800;

}